<p>Welcome <%= @user.name %></p>

<p>You just received a testimonial!</p>

<p>Check it out at <a href="http://tcmtestimonials.herokuapp.com/">http://tcmtestimonials.herokuapp.com/</a> :)</p>

<p>This app was brought to you by Katya Sarmiento of Kat Web Designs, for students of Holistic MBA's Transformational Coaching Method.</p>