<p>Welcome <%= @user.name %></p>

<p>Thank you for signing up!</p>

<p>Please go to <a href="http://tcmtestimonials.herokuapp.com/">http://tcmtestimonials.herokuapp.com/</a> and update your profile, leave testimonials and provide feedback so I can make your experience AWESOME :)</p>

<p>This app was brought to you by Katya Sarmiento of Kat Web Designs, for students of Holistic MBA's Transformational Coaching Method.</p>


