<div class="container">
  <h1 class="text-center">Welcome</h1>

  <div class="row">
    <div class="col-lg-6 well">
      <div class="col-lg-3">
        <img src="http://placekitten.com/100/200" alt=""> 
      </div>
      <div class="col-lg-9">
        <h3>Katya Sarmiento Coaching</h3>
        <p>Website Link<br />
        Facebook Twitter Instagram Tumblr </p>
        <%= render "testimonials/form" %>
      </div><!-- col-lg-9 -->
    </div><!-- col-lg-6 -->
    <div class="col-lg-6 well">
      <div class="col-lg-3">
        <img src="http://placekitten.com/100/200" alt=""> 
      </div>
      <div class="col-lg-9">
        <h3>Kat Web Design</h3>
        <p>Website Link<br />
        Facebook Twitter Instagram Tumblr </p>
        <%= render "testimonials/form" %>
        
      </div><!-- col-lg-9 -->
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-lg-3">
      <p class="well">testimonials</p></div>
    <div class="col-lg-3">
      <p class="well">testimonials</p></div>
    <div class="col-lg-3">
      <p class="well">testimonials</p></div>
    <div class="col-lg-3">
      <p class="well">testimonials</p></div>
  </div>
</div><!-- container -->