<div class="col-lg-6 col-md-6 col-sm-6 testimonial">
  <p class="speechbubble"><%= testimonial.body %></p>
  <span class="speechbubble-tri"></span>
  
  <a href="<%= user_path testimonial.user %>" class="pull-right">- <%= testimonial.user.name %></a>
</div>